<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>401993038733-gojrcdk874kkq54oocdtt9ifd48ppe4u.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.401993038733-gojrcdk874kkq54oocdtt9ifd48ppe4u</string>
	<key>API_KEY</key>
	<string>AIzaSyB1-7RaJkZfVoDiyHrbMcWHPV22PGBgrj0</string>
	<key>GCM_SENDER_ID</key>
	<string>401993038733</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>org.reactjs.native.example.assignment</string>
	<key>PROJECT_ID</key>
	<string>assignment-46bee</string>
	<key>STORAGE_BUCKET</key>
	<string>assignment-46bee.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:401993038733:ios:79c43ae29a09789284dbc4</string>
</dict>
</plist>